.heading {
  display: none;

  @media (max-width: $mobile-width) {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 900;
    font-family: $raleway-font;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #000000;
  }
}
