.heading {
  position: relative;

  margin: 0;
  font-size: 30px;
  font-weight: 900;
  font-family: $raleway-font;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-47% -26%);

    width: 74%;
    height: 2px;
    background-color: #000000;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 26px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
  }

  &--contacts {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
      margin-bottom: 19px;
      padding-left: 20px;
    }
  }

  &--partners {
    position: static;

    &::before {
      width: 61%;
    }
  }
}
