.partners {
  margin-bottom: 124px;
  padding-right: 25px;
  padding-left: 25px;

  @media (max-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .slick-dots {
    bottom: 75px;

    @media (max-width: $tablet-width) {
      bottom: 15px;
    }

    @media (max-width: $mobile-width) {
      bottom: 18px;
      left: 53%;

      display: flex;
      justify-content: space-between;
      width: 50px;

      transform: translateX(-50%);
    }

    li {
      width: 6px;
      height: 6px;
      margin: 0;
      margin-right: 5px;

      @media (max-width: $mobile-width) {
        margin: 0;
      }

      &:last-child {
        button::before {
          font-size: 4px;
        }
      }
    }

    button {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    button::before {
      top: auto;
      width: 100%;
      height: 100%;
      line-height: 0;
      color: #d8d8d8;
      opacity: 1;
    }
  }

  .slick-dots li.slick-active {
    width: 8px;
    height: 8px;

    button::before {
      width: 8px;
      height: 8px;

      color: #00ffd7;

      @media (max-width: $mobile-width) {
        font-size: 10px;
      }
    }
  }

  .slick-track {
    display: flex;
    align-items: flex-start;

    @media (max-width: $tablet-width) {
      align-items: center;
      padding-bottom: 30px;
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

.partners__main-wrapper {
  @include centerer();
}

.partners__heading-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;

  @media (max-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 11px;
  }
}

.partners__buttons-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.partners__button {
  position: relative;
  display: block;
  width: 58px;
  height: 35px;
  padding: 0;
  border: 2px solid #292929;
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;

    width: 16px;
    height: 6px;
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }

  &--left {
    border-right: none;

    &::before {
      left: 12px;
      background-image: url("#{$image-dir}/arrow_left.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -2px;

      width: 1px;
      height: 8px;
      background-color: #292929;

      transform: translateY(-50%);
    }
  }

  &--right {
    border-left: none;

    &::before {
      background-image: url("#{$image-dir}/arrow_right.svg");
    }
  }

  &:hover {
    background-color: rgba(0, 255, 216, 0.3);
  }
}

.partners__slider {
  display: flex;
  justify-content: space-between;
}

.partners__slide {
  position: relative;
  width: calc(25% - 23px);
  text-align: center;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: none;
    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    /* stylelint-disable */
    width: calc(100vw - 40px) !important;
    /* stylelint-enable */
    background: none;
    box-shadow: none;

    img {
      transform: scale(0.8);
    }
  }

  &--ava {
    padding-right: 39px;

    @media (max-width: $tablet-width) {
      padding-right: 0;
    }

    img {
      width: 175px;
      height: 127px;

      @media (max-width: $tablet-width) {
        width: 149px;
        height: 81px;
      }
    }
  }

  &--mirror img {
    width: 167px;
    height: 121px;

    @media (max-width: $tablet-width) {
      width: 184px;
      height: 152px;
    }
  }

  &--shield img {
    width: 211px;
    height: 135px;

    @media (max-width: $tablet-width) {
      width: 211px;
      height: 135px;
    }
  }

  &--teplo img {
    width: 173px;
    height: 135px;

    @media (max-width: $tablet-width) {
      width: 211px;
      height: 135px;
    }
  }
}

.partners__slide.slick-slide {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.partners__slide.slick-active {
  @media (max-width: $tablet-width) {
    z-index: 2;

    width: 230px;
    height: 163px;
    padding: 20px 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 135px;

    border: 1px solid #d6d6d6;
  }
}

.partners__slide.slick-center {
  @media (max-width: $tablet-width) {
    z-index: 1;
    height: 190px;

    transform: scale(1.17, 1);
  }

  @media (max-width: $mobile-width) {
    height: 135px;

    transform: none;
  }

  & + .partners__slide.slick-slide {
    z-index: 0;
  }
}
