$tablet-width: 1023px;
$mobile-width: 767px;

$brand-font: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", helvetica, arial, sans-serif;
$raleway-font: "Raleway", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", helvetica, arial, sans-serif;

$fonts-dir: "../fonts";
$image-dir: "../img";

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
